.CarusselImg {
  width: 100%;
  height: calc(100vh - 115px);
  filter: brightness(80%);
}

@media (max-width: 768px) {
  .CarusselImg {
    height: calc(100vh - 80px);
  }
}

.CarusselText {
  font-size: x-large;
}

.carruselEstructura {
  color: white;
  font-weight: 500;
}

.carruselMex {
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .crop1 {
    object-fit: cover;
    object-position: 47% 90%;
    height: calc(100vh - 80px);
  }
  .crop2 {
    object-fit: cover;
    object-position: 15% 65%;
    height: calc(100vh - 80px);
  }
  .crop3 {
    object-fit: cover;
    object-position: 50% 80%;
    height: calc(100vh - 80px);
  }
}

.crop2 {
  height: calc(100vh - 115px);
  width: 100vw;
  object-fit: cover;
  object-position: 30% 70%;
}
